@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: #170c04;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

p {
  color: #170c04;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
}

.header {
  margin: 3.4rem 0;
}
.header__grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__ul {
  display: flex;
  list-style: none;
  gap: 5.5rem;
}
.header__link {
  color: #170c04;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}
.hero {
  height: 50rem;
  background-color: palegreen;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.features {
  margin-top: 13rem;
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.features__svg {
  opacity: 0.15;
}
.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px 25px 18px;
  transition: all 300ms ease;
}
.features__item:hover {
  box-shadow: 0px 4px 14px 0px rgba(226, 123, 58, 0.15);
  border: 1px solid #fff;
}
.features__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2.9rem;
  width: 6.3rem;
  height: 5.4rem;
}
.features__images svg {
  position: absolute;
  z-index: 0;
}
.features__images img {
  max-width: 100%;
  width: 3.7rem;
  z-index: 2;
}
.features__images-white {
  fill: #e9c5a5;
}
.features__images-green {
  fill: #6bac50;
}
.features__images-orange {
  fill: #fdbe24;
}
.features__title {
  color: #170c04;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.features__description {
  color: #170c04;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.3rem;
}
.features__link {
  margin-top: auto;
}

.popular__heading {
  text-align: center;
  margin-top: 11.8rem;
  margin-bottom: 1.8rem;
}
.popular__description {
  text-align: center;
  margin: 0 auto;
  max-width: 505px;
}
.popular__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "a a a b b b" "c c d d e e";
  gap: 3rem;
  margin-top: 5rem;
}
.popular__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 27rem auto auto;
  justify-items: center;
}
.popular__card:nth-child(1), .popular__card:nth-child(2) {
  grid-template-rows: 42rem auto auto;
}
.popular__card:nth-child(1) .popular__title, .popular__card:nth-child(2) .popular__title {
  font-size: 2.5rem;
}
.popular__card:nth-child(1) {
  grid-area: a;
}
.popular__card:nth-child(2) {
  grid-area: b;
}
.popular__card:nth-child(3) {
  grid-area: c;
}
.popular__card:nth-child(4) {
  grid-area: d;
}
.popular__card:nth-child(5) {
  grid-area: e;
}
.popular__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fcf2eb;
  width: 100%;
}
.popular__title {
  color: #170c04;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2.3rem;
}
.popular__link {
  margin-top: 1.6rem;
}
.popular__btn {
  margin-top: 4.6rem;
  text-align: center;
}

.care {
  margin-top: 13rem;
  margin-bottom: 13rem;
}
.care__grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 53.5rem;
}
.care__mask-img {
  clip-path: url(#clipping);
  overflow: hidden;
  object-fit: cover;
}
.care__image {
  position: relative;
  display: flex;
  pointer-events: none;
  margin-left: -8rem;
}
.care__image svg {
  position: absolute;
}
.care__details {
  align-self: center;
}
.care__title {
  margin-bottom: 0.4rem;
  color: #f29555;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.32rem;
  text-transform: uppercase;
}
.care__heading {
  margin-bottom: 1.8rem;
}
.care__description {
  margin-bottom: 4rem;
}
.care__buttons {
  display: flex;
  gap: 3rem;
}

.subscription__heading {
  text-align: center;
  margin-bottom: 5rem;
}
.subscription__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
.subscription__card {
  display: grid;
  grid-template-rows: 26.4rem auto auto auto;
  justify-items: center;
}
.subscription__image {
  mask-image: url(/img/dog-shape.svg);
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url(/img/dog-shape.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.subscription__title {
  margin-top: 5.1rem;
  margin-bottom: 2.2rem;
  color: #170c04;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem; /* 140% */
}
.subscription__description {
  margin-bottom: 1.5rem;
  text-align: center;
}
.subscription__link {
  margin-bottom: 4.6rem;
}
.subscription__btn.btn {
  display: block;
  margin: 0 auto;
  max-width: max-content;
}

a {
  color: #f29555;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.45rem 3rem;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.btn-primary {
  background: #f29555;
  color: #fff;
}
.btn-transparent {
  background: #fff;
  color: #f29555;
}
.btn-small-br, .btn-big-br {
  border: 1px solid #f7c19c;
}
.btn-small-br {
  border-radius: 4px;
}
.btn-big-br {
  border-radius: 24px;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
