@use "../abstracts/variables" as *;

@mixin maskImage($url) {
  mask-image: url($url);
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url($url);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

@mixin font(
  $family,
  $color,
  $size,
  $weight: 400,
  $line-height: 1,
  $style: normal
) {
  font-family: $family;
  color: $color;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin media-breakpoint-down($breakpoint) {
  @media (width <= map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (width >= map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
