$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// colors
$primary: #f29555;
$secondary: #fbebe2;
$white: #fff;
$black: #170c04;
$dark-gray: #848484;
$dark-grayish-orange: #746d68;
$light-red: #f4e7e6;
$light-blue: #e9ecf2;
$light-red-2: #f2e6e9;
$light-pink: #f9f4f7;
$light-pink-2: #f9e8ed;
$light-yellow: #f3f3f2;
$grayish-orange: #c5c2c0;
$very-light-gray: #e2e2e2;
$vivid-blue: #2e96ff;

// sizes
//    paddings
//    gaps
//    margins
$gap: 2rem;
$gap-lg: 3rem;

// mixins

// fonts
