$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$color-primary: #f29555;
$color-secondary: #fbebe2;
$color-white: #fff;
$color-black: #170c04;
$color-light-gray: #e2e2e2;
$color-dark-gray: #848484;
$color-light-red: #f4e7e6;
$color-grayish-orange: #c5c2c0;
$color-vivid-blue: #2e96ff;

$gap: 2rem;
$gap-lg: 3rem;

$rest-fonts: sans-serif, system-ui;
$poppins: "Poppins", $rest-fonts;
$roboto: "Roboto", $rest-fonts;
