@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.care {
  margin-top: 13rem;
  margin-bottom: 13rem;
  &__grid {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 53.5rem;
    gap: 3rem;
    @media (width <= map-get($breakpoints, lg)) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  &__mask {
    @include maskImage("/img/care-mask.svg");
  }

  &__image {
    display: flex;
    margin-left: -8rem;

    @media (width <= map-get($breakpoints, xl)) {
      margin-left: 0;
    }
  }

  &__details {
    align-self: center;
    @media (width <= map-get($breakpoints, lg)) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 0.4rem;
    color: $primary;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.32rem;
    text-transform: uppercase;
  }

  &__heading {
    margin-bottom: 1.8rem;
  }

  &__description {
    margin-bottom: 4rem;
  }

  &__buttons {
    display: flex;
    gap: 3rem;
    @media (width <= map-get($breakpoints, lg)) {
      justify-content: center;
    }
    @media (width <= map-get($breakpoints, md)) {
      flex-direction: column;
    }
  }
}
