@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.care {
  &__grid {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 53.5rem;
    margin: 13rem 0 13rem;
    gap: $gap-lg;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  &__mask {
    @include maskImage("/img/svg/care-mask.svg");
  }

  &__image {
    display: flex;
    margin-left: -8rem;

    @include media-breakpoint-down(xl) {
      margin-left: 0;
    }
  }

  &__details {
    align-self: center;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 0.4rem;
    @include font($roboto, $color-primary, 1.6rem, 500);
    letter-spacing: 0.32rem;
    text-transform: uppercase;
  }

  &__heading {
    margin-bottom: 1.8rem;
  }

  &__description {
    margin-bottom: 4rem;
  }

  &__buttons {
    display: flex;
    gap: $gap-lg;
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}
