.cta {
  margin: 7rem 0;
  &__grid {
    gap: 3rem;
    display: grid;
    padding: 0 6.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 34.6rem;
    align-items: center;
    background: url("/img/form-bg.svg") no-repeat center center;
  }

  &__form-group {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__input {
    padding: 2.5rem;
    border: none;
    &::placeholder {
      color: #a29e9b;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__btn.btn {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__heading {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
  }
  &__text {
    color: #fff;
    margin-top: 2rem;
  }
}
