.features {
  margin-top: 13rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &__svg {
    opacity: 0.15;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 40px 25px 18px;
    transition: all 300ms ease;
    &:hover {
      box-shadow: 0px 4px 14px 0px rgba(226, 123, 58, 0.15);
      border: 1px solid #fff;
    }
  }

  &__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2.9rem;
    width: 6.3rem;
    height: 5.4rem;
    svg {
      position: absolute;
      z-index: 0;
    }

    img {
      max-width: 100%;
      width: 3.7rem;
      z-index: 2;
    }

    &-white {
      fill: #e9c5a5;
    }
    &-green {
      fill: #6bac50;
    }
    &-orange {
      fill: #fdbe24;
    }
  }

  &__title {
    color: #170c04;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__description {
    color: #170c04;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 1.3rem;
  }

  &__link {
    margin-top: auto;
  }
}
