@use "../abstracts/variables" as *;

.header {
  padding: 3.4rem 0;
  position: absolute;
  width: 100%;

  &__grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    list-style: none;
    gap: 5.5rem;
  }

  &__link {
    color: #170c04;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
  }

  &__nav,
  &__cart,
  &__search {
    @media (width <= map-get($breakpoints, md)) {
      display: none;
    }
  }
}
