@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  padding: 3.4rem 0;
  width: 100%;
  background: $color-secondary;

  &__grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    list-style: none;
    gap: 5.5rem;
  }

  &__link {
    @include font($roboto, $color-black, 1.6rem, 400, normal);
    text-decoration: none;
  }

  &__nav,
  &__cart,
  &__search,
  &__user {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 4rem;
  }

  &__burger {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}
