@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  width: 100%;
  margin: 0 auto;
  background: $secondary;

  &__grid {
    display: grid;
    grid-template-rows: 50rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @include media-breakpoint-down(lg) {
      display: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__welcome {
    @include font($poppins, $dark-gray, 2rem, 500, 120%);
  }

  &__title {
    @include font($poppins, $black, 7rem, 700, 120%);
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      font-size: 5rem;
    }
  }

  &__description {
    margin-top: 0.5rem;
    @include font($poppins, $dark-gray, 1.6rem, 400, 120%);
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }

  &__buttons {
    margin-top: 2.7rem;
    display: flex;
    gap: $gap;
  }

  &__image {
    height: 100%;
    justify-self: center;
  }
}
