@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.slider {
  margin: 12rem 0;
  position: relative;
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27rem;
  }
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__item {
    border-radius: 1rem;
    background: $white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06);
    padding: 2.5rem 2.8rem;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $gap;
    img {
      max-width: 30px;
      border-radius: 50%;
    }
  }

  &__description {
    color: $grayish-orange;
    text-align: center;
  }

  &__name {
    @include font($roboto, $black, 1.6rem, 400);
  }

  &__job {
    @include font($roboto, $grayish-orange, 1.2rem, 400);
    text-align: center;
  }
}

.swiper {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  box-sizing: border-box;
}
