.subscription {
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-bottom: 4.6rem;
  }

  &__card {
    display: grid;
    grid-template-rows: 26.4rem auto auto auto;
    justify-items: center;
  }

  &__image {
    mask-image: url(/img/dog-shape.svg);
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url(/img/dog-shape.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  &__title {
    margin: 5.1rem 0 2.2rem;
    text-align: center;
  }

  &__description {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__btn.btn {
    display: block;
    margin: 0 auto;
    max-width: max-content;
  }
}
