@use "../abstracts/variables" as *;

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.45rem 3rem;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  &-primary {
    background: $primary;
    color: $white;
  }

  &-transparent {
    background: $white;
    color: $primary;
  }

  &-small-br,
  &-big-br {
    border: 1px solid lighten($primary, 15);
  }

  &-small-br {
    border-radius: 4px;
  }

  &-big-br {
    border-radius: 24px;
  }
}
