@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// TODO: replace font-face to ~this
// @each $fonts, $font in $fonts {
//   @each $prop, $_ in $font {
//     @font-face {
//       font-family: "#{$fonts} #{$prop}";
//       src: url("/fonts/#{$fonts}/#{$fonts}-#{$prop}/#{$fonts}-#{$prop}.woff2")
//           format("woff2"),
//         url("/fonts/#{$fonts}/#{$fonts}-#{$prop}/#{$fonts}-#{$prop}.woff")
//           format("woff");
//       font-weight: normal;
//       font-style: normal;
//       font-display: swap;
//     }
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

p {
  @include font($roboto, $color-black, 1.6rem, 400, 2.4rem);
}
